<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="/telegram_lib/app.css" />
    <link rel="stylesheet" type="text/css" href="/telegram_lib/desktop.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/jquery.nanoscroller/nanoscroller.css" />
    <link rel="icon" href="/css/img/telegram_lib/favicon.ico" type="image/x-icon" />
	<meta name="fragment" content="!">
	<meta charset="UTF-8">
	<title>Comtel Microwave</title>
</head>
<body ng-controller="MainViewCtrl as mainView">

	<div ng-view></div>
</body>
<script type="text/javascript" src="/vendor/require.js" data-main="../app/main.js"></script>
</html>
